/* cities, popular, ranges */



.prop-div {
    border: 2px solid black;
    width: 400px;
    height: 500px;
    text-align: center;
}

.cityPic {
    width: 400px;
    height: 200px;
}

/* Main Page */

.MainShell {
    width: auto;
}

.MainBody {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.MainCubes {
    text-align: center;

}

.CityPic {
    width: 200px;
    height: 200px;
}

/* dashboard */
.DShell {
    width: auto;
    border: 5px solid black;
    height: 250px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.DBlock {
    font-family: cursive;
    font-weight: bolder;
    font-style: italic;
    color: red;
}

/* Update, Show One, Create Form */

.UHMain {
    text-align: center;
}