/* cities, popular, ranges */


/* 
.prop-div {
    border: 2px solid black;
    width: 400px;
    height: 500px;
    text-align: center;
}
 */


/* Main Page */

/* .MainShell {
    width: auto;
}

.MainBody {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.MainCubes {
    text-align: center;

}

.CityPic {
    width: 200px;
    height: 200px;
} */

/* dashboard */
.DShell {
    width:auto;   
     border: 2px solid black;
    background-color: lightgrey;

}

